<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="app">
        <div id="page-login">
            <div class="container">
                <div class="card login-card-container">
                    <img class="profile-image-card" alt="" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    <form id="form-signup" class="form-login">
                        <div class="signup-option">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="sub">
                                <label class="form-check-label" for="inlineRadio1">Administrator</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="con">
                                <label class="form-check-label" for="inlineRadio2">Staff</label>
                              </div>
                        </div>

                        <div class="form-group">
                            <!-- Email  -->
                            <input type="email" class="form-control" placeholder="Email Address" />
                        </div>
                        <div class="form-group">
                            <!-- Password -->
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">
                            Log in</button>
                    </form> 
                    <a href="logup.html" class="link-login">Forgot password</a>
                    <a href="logup.html" class="link-login">Sign up here</a>

                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>