<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://kit.fontawesome.com/169e38946f.js" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<style>
		/* .container{
            min-height: 500px;
            background-color:cadetblue;
            padding: 30px;
            z-index: -1;
        } */
	</style>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
</head>

<body>
	<!-- Navigation -->
	<!-- <div class="container"> -->
	<nav class="navbar navbar-expand-md bg-dark bg-dark mb-md-4 justify-content-between">
		<div class="btn-list">
			<a class="btn" data-toggle="collapse" href="#btn-list" role="button" aria-expanded="false"
				aria-controls="collapse123">
				<span class="fas fa-bars"></span>
			</a>
		</div>
		<!-- <form class="form-inline">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Recipient's username"
					aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
				</div>
			</div>
		</form> -->

		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span><i class="fas fa-user-cog"></i></span>
		</button> -->
		<div class="btn-menu">
			<a class="btn navbar-toggler" data-toggle="collapse" href="#btn-menu" role="button" aria-expanded="false"
				aria-controls="collapse123">
				<span class="fas fa-user-cog"></span>
			</a>
		</div>
		<div class="mk-dropdown-menu menu-group mb-4">
			<div class="collapse navbar-collapse" id="btn-menu">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Report Work</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="subcontractor_project.html">Assigned Project</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">
							Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Content -->
	<main class="container">
		<!-- <div class="collapse navbar-collapse col-xl-3 mb-4 d-xl-inline-block" id="btn-list">
			
			<ul class="collapse list-group list-group-flush">
				<li class="list-group-item"><a class="mk-item-link" href="#"><h5 class="text-center">All Projects</h5></a></li>
				<li class="list-group-item"><a class="mk-item-link" href="#">Building House 1</a></li>
				<li class="list-group-item"><a class="mk-item-link" href="#">Building House 1</a></li>
				<li class="list-group-item"><a class="mk-item-link" href="#">Building House 1</a></li>
				<li class="list-group-item"><a class="mk-item-link" href="#">Building House 1</a></li>
			</ul>
		</div> -->

		<!-- remove col-xl-9 in class below -->
		<div class="row">
			<div class="wrapper-content">
				<div class="d-none d-md-block"><h1>Report Work</h1></div>
				
				<div class="project-create-board m-4">
					<form class="row">
                        <div class="form-group col-md-12">
							<img src="img/re.jpg">
						</div>

						<div class="form-group col-md-12">
							<label for="exampleInputEmail1">Tasks have done:</label>
							<textarea type="text" class="form-control mk-area-done" placeholder="List of tasks you have worked on"></textarea>
						</div>

						<div class="col-md-12 btn-submit-create">
							<button	class="btn btn-info" type="submit" >submit report</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	</div>
</body>

</html>